# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so


.idea
venv/

MeshMonkExtreme/bin/*
MeshMonkExtreme/obj/*
*.cbp
*.depend
*.layout
*.o


 examples/data/
 conda/outputdir/