# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so


.idea
venv/

MeshMonkExtreme/bin/*
MeshMonkExtreme/obj/*
meshmonk/bin/*
meshmonk/build/
meshmonk/floating.obj
meshmonk/target.obj
meshmonk/libmeshmonk.dylib
meshmonk/example
meshmonk/meshmonkexe/
meshmonk/registrationexample/
*.cbp
*.depend
*.layout
*.o
*.cpp~
*.mexa64


 examples/data/
 conda/outputdir/
.DS_Store
