# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so


.idea
venv/

MeshMonkExtreme/bin/*
MeshMonkExtreme/obj/*
bin/*
build/
floating.obj
target.obj
libmeshmonk.dylib
example
meshmonkexe/
registrationexample/
*.cbp
*.depend
*.layout
*.o
*.cpp~
*.mexa64


 examples/data/
 conda/outputdir/
.DS_Store

# Exclude Windows specific files
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
x64/
Debug/
Release/

# Matlab
*.mexw64
matlab/*.ini
matlab/*.lib
matlab/*.asv
